@import 'settings';

html, body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  height: 100%;
  color: white;
  background: $bg;
}

.header {
  position: relative;
  min-height: 100vh;
  background: url(../img/mountains-header.png) no-repeat center;
  background-size: cover;
  width: 100%;

  .wrapper {
    flex-wrap: wrap;
  }

    .row_1 {
      padding-top: 84px;
      text-align: center;
      flex-basis: 100%;

      .logo {
        margin-right: -43px;
      }

      .menu {
        margin-top: 30px;
        float: right;
        width: 43px;
        height: 17px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &:before, &:after {
          height: 4px;
          content: " ";
          background: white;
          display: block;
        }
      }
    }
    .row_2 {
      flex-basis: 100%;
    }

    h1 {
      text-align: center;
      font-family: "Raleway-Lighter";
      font-size: 60px;
      font-weight: 100;
      opacity: 0.6;
      margin-top: -5px;
    }
}


section {
  position: relative;
  min-height: 100vh;
}

.mission {
  width: auto;
  padding: 50px 0 200px 0;
  box-sizing: border-box;

  .wrapper {
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    .el-1 {
      position: absolute;
      left: 0;

      .num {
        @extend %num;
      }
    }

    .el-2 {
      position: relative;
      width: 660px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #191d3f;
      -webkit-box-shadow: 0 178px 152px rgba(0,0,0,.45);
      -moz-box-shadow: 0 178px 152px rgba(0,0,0,.45);
      -webkit-box-shadow: 0 178px 152px rgba(0,0,0,.45);
      box-shadow: 0 178px 152px rgba(0,0,0,.45);

      image {
        max-width: 100%;
      }

      .text {
        width: 400px;
        position: absolute;
        left: 54%;
        font-family: "Raleway-Lighter";
        font-size: 17px;
        font-weight: 100;
        color: rgba(white, 0.7);
        white-space: pre;
        line-height: 1.5;
      }
    }
  }
}

.projects {
  position: relative;
  min-height: 100vh;
  background: url(../img/projects-background.png) no-repeat center;
  background-size: cover;
  width: 100%;
  padding-bottom: 200px;

  .wrapper {
    align-items: center;
    flex-wrap: wrap;

    .el-1 {
      position: absolute;
      display: flex;
      justify-content: space-between;
      width: inherit;

      .letter {
        @extend %letter;
        margin-left: -150px;
      }

      .num {
        @extend %num;
        margin-top: -300px;
      }
    }

    .el-2 {
      position: absolute;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      max-width: 800px;
      height: 240px;


    }
  }
}

.team {
  position: relative;
  min-height: 100vh;
  padding: 100px 0 600px 0;

  .wrapper {
    padding: 200px 0;

    .el-1 {
      position: absolute;
      min-height: inherit;
      display: flex;
      justify-content: center;
      width: 100%;


      .num {
        @extend %num;
        position: absolute;
        left: 0;
      }
      .letter {
        @extend %letter;
        align-self: flex-end;
      }
    }

    .el-2 {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-top: -50px;


      .photo, .photo_2, .photo_3, .photo_4, .photo_5 {
        -webkit-box-shadow: 0 178px 152px rgba(0,0,0,.45);
        -moz-box-shadow: 0 178px 152px rgba(0,0,0,.45);
        -webkit-box-shadow: 0 178px 152px rgba(0,0,0,.45);
        box-shadow: 0 178px 152px rgba(0,0,0,.45);
        transition: all 0.3s ease;
        display: flex;

        .info {
          position: absolute;
          width: 340px;
          height: 300px;
          transition: all 0.3s ease;


          &:before {
            width: 56px;
            height: 4px;
            content: " ";
            background: white;
            display: block;
            margin-bottom: 20px;
          }

          .name {
            color: #fff;
            font-family: "Raleway-Regular";
            font-size: 32px;
            margin-bottom: 17px;
          }

          .prof {
            opacity: 0.5;
            color: #fff;
            font-family: "Raleway-Light";
            font-size: 16px;
          }
        }

        &:hover {
          box-shadow: 0 30px 30px rgba(0,0,0,.45);
          transform: scale(0.9);
        }
      }

      .photo {
        align-self: flex-end;
        height: 558px;

        .info {
          top: 230px;
          right: 370px;

          .text {
            position: absolute;
            color: #fff;
            font-family: "Raleway-Light";
            font-size: 15px;
            position: relative;
            left: 0;
            white-space: normal;
            width: 300px;
            opacity: 0.5;
          }
        }
      }

      .photo_2 {
        height: 397px;
        align-self: flex-start;
        margin-top: 100px;

        .info {
          position: absolute;
          height: 150px;
          left: 340px;
          align-self: flex-end;
        }
      }

      .photo_3 {
        height: 397px;
        align-self: flex-end;
        margin-top: -260px;


        .info {
          height: 150px;
          right: 150px;
          align-self: flex-end;
        }
      }

      .wrap-4 {
        align-self: flex-start;
        padding-top: 30px;
        padding-left: 130px;
        box-sizing: border-box;

        .photo_4 {
          position: absolute;
          height: 397px;

          .info {
            height: 150px;
            left: -100px;
            align-self: flex-end;
          }
        }
      }


      .wrap-5 {
        align-self: flex-end;
        padding: 170px 450px 0 0;
        box-sizing: border-box;

        .photo_5 {
        height: 397px;
          position: absolute;

          .info {
          height: 150px;
          right: -180px;
          align-self: flex-end;
          }
        }
      }
    }

  }
}

.event {
  padding-top: 200px;
  position: relative;
  min-height: 100vh;
  background: url(../img/EVENT.png) no-repeat center;
  background-size: cover;
  width: 100%;

  .wrapper {
    display: flex;
    flex-wrap: wrap;

    .el-1 {
      position: absolute;
      min-height: inherit;
      display: flex;
      justify-content: center;
      width: 100%;
      align-items: flex-start;


      .num {
        @extend %num;
        margin-top: -180px;
      }
      .letter {
        @extend %letter;
        font-size: 1200px;
        position: absolute;
        right: -70px;
        margin-top: 113px;
        opacity: 0.4;
      }
    }

    .el-2 {
      margin: 0 0 0 70px;
      width: 450px;

      h2 {
        color: #fff;
        font-family: "Raleway-Lighter";
        font-size: 54px;
        font-weight: 100;
      }

      .text {
        color: #fff;
        font-family: "Raleway-Light";
        font-size: 19px;
        opacity: 0.5;
      }

    }

    footer {
      position: relative;
      align-self: flex-end;
      width: 100%;
      text-align: center;
      padding-bottom: 70px;
      color: #fff;
      font-family: "Raleway-Light";
      font-size: 15px;


      a {
        color: #fff;
        font-family: "Raleway-Light";
        font-size: 15px;
        opacity: 0.5;
         &:hover {
           opacity: 1;
         }
      }

      .links {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        width: 280px;
        padding: 35px 0 20px 0;
        opacity: 0.5;
      }
      .copy {
        opacity: 0.5;

        a {
          padding-left: 10px;
        }
      }
    }
  }
}






